.text-right {
    float: right;
}

.small-font{
    font-size: 14px;
}

.grey-font{
    color: grey;
}

.button-grouping {
    display: flex;
    flex-direction: row;
}

.button-grouping button{
    margin-right: 10px
}

.card {
    margin: 7px;
}